@font-face {
	font-family: ArchivoBlack;
	font-display: swap;
	src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"), url("../fonts/ArchivoBlack-Regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: Intro;
	font-display: swap;
	src: url("../fonts/Intro-Bold.woff2") format("woff2"), url("../fonts/Intro-Bold.woff") format ("woff");
	font-weight: 700;
	font-style: normal;
	}
@font-face {
	font-family: cyrvetica;
	font-display: swap;
	src: url("../fonts/cyrvetica-extra-outline.woff2") format("woff2"), url("../fonts/cyrvetica-extra-outline.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: RubikGlitch;
	font-display: swap;
	src: url("../fonts/RubikGlitch-Regular.woff2") format("woff2"), url("../fonts/RubikGlitch-Regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: NotoSans;
	font-display: swap;
	src: url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
	}
